body{
    background-color: #ffffff; 
    margin: 10px;
}
.imagem{
    width: 700px;
    height: 250px;
}
.fundo_inline{
    display: "inline";
    background-color: #5F6BEF; 
    height: 400px; 
    width: "100%"; 
    margin: auto;
    align-items: center; 
}
.fundo_block{
    display: "block";
    background-color: rgb(166, 109, 231); 
    height: 400px; 
    width: "100%"; 
    margin: auto;
    align-items: center; 
}
.fundo_inline_block{
    display: "inline-block";
    background-color: rgb(205, 95, 239); 
    height: 400px; 
    width: "100%"; 
    margin: auto;
    align-items: center; 
}
.emoji{
    font-size: 25px;
}
.frase{
    font-size: 20px;
    color: white;
    font-family: Verdana;
}
